# Aliases
alias c="cd $HOME/Code"
alias d="cd $HOME/Desktop"
alias dl="cd $HOME/Downloads"
alias g=git
alias h="cd $HOME/"
alias ls='ls -lah'
alias o='open .'
alias s='subl .'

# Atom open current dir or specified location
function a() {
  if [ $# -eq 0 ]; then
    atom .;
  else
    atom "$@";
  fi;
}

# System
alias update='sudo softwareupdate -i -a; brew update; brew upgrade --all; brew cleanup'

# Git
alias gboom='gpull && gpush && echo BOOM ! ! !'
alias gpull='git pull --rebase origin $(git rev-parse --abbrev-ref HEAD)'
alias gpush='git push origin $(git rev-parse --abbrev-ref HEAD)'
function gi() { curl https://www.gitignore.io/api/$@ ;}

# Common
alias json='python -mjson.tool'
alias npmls='npm list --depth=0 "$@" 2>/dev/null'
alias server='http-server'
alias apm-stars-update='apm unstar $(apm stars --json | jq -r ".[].name") && apm star --installed'

# Network
alias dig="dig @8.8.8.8 ANY +noall +answer $1"
alias digns="dig @8.8.8.8 +short NS $1"
alias flushdns="sudo dscacheutil -flushcache"
function ip() {
  IP=$(ipconfig getifaddr en0)
  IFACE="en0"

  if [[ -z "$IP" ]]; then
    IP=$(ipconfig getifaddr en4)
    IFACE="en4"
  fi

  echo "Local($IFACE): $IP"
  echo "Remote:     $(curl -s https://ipinfo.io/ip)"
}
function ipinfo(){ open https://ipinfo.io/$@; }
alias scan="nmap -T4 --max-rtt-timeout=500ms --initial-rtt-timeout=200ms --min-rtt-timeout=200ms --open --stats-every 5s $1"
alias sscan="sudo nmap -sS -T4 --max-rtt-timeout=500ms --initial-rtt-timeout=200ms --min-rtt-timeout=200ms --open --stats-every 5s $1"

# Other
alias brew="env PATH=${PATH//$(pyenv root)\/shims:/} brew"
