# Aliases
alias a='atom .'
alias c="cd $HOME/Code"
alias d="cd $HOME/Desktop"
alias dl="cd $HOME/Downloads"
alias g=git
alias h="cd $HOME/"
alias ls='ls -lah'
alias o='open .'
alias s='subl .'

# Git
alias gboom='gpull && gpush && echo BOOM ! ! !'
alias gpull='git pull --rebase origin $(git rev-parse --abbrev-ref HEAD)'
alias gpush='git push origin $(git rev-parse --abbrev-ref HEAD)'
function gi() { curl https://www.gitignore.io/api/$@ ;}

# Common
alias json='python -mjson.tool'
alias npmls='npm list --depth=0 "$@" 2>/dev/null'
alias atomupdate='apm unstar $(apm stars --json | jq -r ".[].name") && apm star --installed'
alias server='python -m SimpleHTTPServer 8888'

# Network
alias dig="dig @8.8.8.8 ANY +noall +answer $1"
alias digns="dig @8.8.8.8 +short NS $1"
alias flushdns="sudo dscacheutil -flushcache"
alias geoip="ipinfo $1"
function ip() {
  echo "Local:  $(ipconfig getifaddr en0)"
  echo "Remote: $(dig +short myip.opendns.com @resolver1.opendns.com)"
}
function ipinfo(){ open https://ipinfo.io/$@; }
alias scan="nmap -T4 --max-rtt-timeout=500ms --initial-rtt-timeout=200ms --min-rtt-timeout=200ms --open --stats-every 5s $1"
alias sscan="sudo nmap -sS -T4 --max-rtt-timeout=500ms --initial-rtt-timeout=200ms --min-rtt-timeout=200ms --open --stats-every 5s $1"

# Other
alias brew="env PATH=${PATH//$(pyenv root)\/shims:/} brew"
