[user]
	name = Giovanni Collazo
	email = gcollazo@users.noreply.github.com
	signingkey = DCD30968

[core]
  quotepath = false
  autocrlf = input

[color]
  interactive = true
  status = true
  branch = true
  diff = true
  ui = true

[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[credential]
	helper = osxkeychain

[alias]
  b  = branch
  co = checkout
  l  = log
  s  = status

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
