[user]
	name = Giovanni Collazo
	email = hello@gcollazo.com
	signingkey = 667943DBEB506A58398A271567AD84AADCD30968

[core]
  quotepath = false
  autocrlf = input

[color]
  interactive = true
  status = true
  branch = true
  diff = true
  ui = true

[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[credential]
	helper = osxkeychain

[alias]
  a = add
  b = branch
  c = commit
  d = diff
  f = fetch
  g = grep
  l = log
  m = merge
  co = checkout
  p = pull
  s = status
  w = whatchanged
[init]
	defaultBranch = main
