[user]
	name = Giovanni Collazo
	email = hello@gcollazo.com

[core]
  quotepath = false
  autocrlf = input

[color]
  interactive = true
  status = true
  branch = true
  diff = true
  ui = true

[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager

[alias]
  a = add
  b = branch
  c = commit
  d = diff
  f = fetch
  g = grep
  l = log
  m = merge
  co = checkout
  p = pull
  s = status
  w = whatchanged

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
