"*":
  "advanced-open-file":
    createFileInstantly: true
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 21
    invisibles: {}
    lineHeight: 1.2
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "file-icons":
    coloured: false
  "git-plus": {}
  "git-projects":
    rootPath: "~/Code"
    sortBy: "Latest modification date"
  "language-babel":
    transpileOnSave: false
  linter: {}
  "linter-eslint":
    disableWhenNoEslintConfig: false
    globalNodePath: "/Users/gcollazo/.nvm/versions/node/v6.9.1"
    useGlobalEslint: true
  "linter-ui-default": {}
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  "open-recent": {}
  "seti-icons": {}
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
