"*":
  "advanced-open-file":
    createFileInstantly: true
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 22
    invisibles: {}
    lineHeight: 1.2
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "git-plus": {}
  "git-projects":
    rootPath: "~/Code"
    sortBy: "Latest modification date"
  "language-babel":
    transpileOnSave: false
  linter:
    showErrorPanel: false
  "linter-eslint":
    globalNodePath: "/Users/gcollazo/.nvm/versions/node/v6.1.0"
    useGlobalEslint: true
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  "open-recent": {}
  "seti-icons": {}
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
